// Color variables
$dark-purple: #535387;
$light-purple: #8888c2;
$light-gray: #cecee7;
$maroon: #885353;
// breakpoints
$screen-lg-min: 1280px;
// Fonts
$playfair: 'Playfair Display',
serif;
$open-sans: 'Open Sans',
sans-serif;
body {
    background: #fff;
    color: #000;
    background-repeat: repeat;
    background-position: center center;
    font-size: 14px;
}


/* 
Generic Reset Stylings, for Desktops/Laptops 
*/

ul {
    padding-left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $playfair;
    font-weight: bolder;
}

li {
    font-family: $open-sans;
}

p {
    font-family: $open-sans;
    line-height: 1.5;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

.align-center {
	text-align: center;
}

.left-align {
    text-align: left !important;
}

#top-navbar,
.navbar-default {
    background-color: $light-gray;
    a {
        font-family: $playfair !important;
        font-size: 100%;
    }
}

.panel-info {
    border-color: $light-gray;
    .panel-heading {
        background-color: $light-purple;
        border-color: $light-gray;
        color: black;
    }
    .panel-body {
        background-color: $light-gray;
    }
}

.library-chart-container {
    background-color: #fff !important;
}

// Internet sessions div
.library-internet {
    h2,
    h4,
    h5 {
        text-align: center;
    }
    h5 {
        font-style: italic;
    }
    .library-internet-chart {
        @media screen and (min-width: 1280px) {
            svg {
                height: 280px;
            }
        }
    }
}

.internet-facts {
    h2,
    h3,
    h4 {
        text-align: center;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }
    hr {
        border: 2px solid $maroon;
        width: 90%;
    }
    div {
        background-color: $light-gray;
        border-color: $dark-purple;
        border-radius: 10px;
        h2 {
            margin-bottom: 10px;
        }
        p {
            padding: 12px;
        }
    }
    .tcp-ip {
        hr {
            margin-bottom: 2px;
        }
    }
    .tcp-ip,
    .cookies {
        h3 {
            font-weight: normal;
        }
    }
}

.broadband-download-speeds-container {
    h4,
    h5 {
        text-align: center;
    }
}

// Wifi hotspot div
#wifi-intro {
    .panel-heading {
        h4 {
            text-align: center;
        }
    }
}

// Data Table
#data-table {
    p {
        font-style: italic;
    }
    #bronx-wifi-hotspots {
        tr {
            &.odd {
                background: $light-gray !important;
                td {
                    background: $light-gray !important;
                }
            }
            &.even {
                background: $light-purple !important;
                td {
                    background: $light-purple !important;
                }
            }
        }
    }
}

// Headline Box in Internet Connections page
.headline-box {
    background-color: $light-gray;
    border-color: $dark-purple;
    border-radius: 5px;
    h4,
    h3 {
        display: inline-block;
        text-align: right;
        float: right;
    }
    padding: 10px 15px;
    margin: 10px 0;
    &__image {
        border-radius: 2px;
        margin: 15px;
        max-height: 100px;
        &.wireless {
            max-height: 50px;
            margin: 5px;
        }
        &.fibre {
            max-height: 50px;
            margin: 5px;
        }
    }
    .wireless-box {
        margin: 10px 0;
        p {
            float: right;
            font-weight: bolder;
            font-size: 110%;
            margin-top: 20px;
        }
    }
}

.c3-title,
.c3-axis-y-label,
.c3-axis-x-label {
    font-size: 150%;
}
