// Color variables
$dark-purple: #535387;
$light-purple: #8888c2;
$light-gray: #cecee7;
$maroon: #885353;

// breakpoints
$screen-lg-min: 1280px;

// Fonts
$playfair: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;


body {
    background: #fff;
	color: #000;
    // background-image: url("../images/internet2.jpg");
    background-repeat: repeat;
    background-position: center center;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $playfair;
}

p {
	font-family: $open-sans;
	line-height: 1.5;
}

#top-navbar, .navbar-default {
	background-color: $light-gray;
	a {
		font-family: $playfair !important;
		font-size: 100%;
	}
}

.panel-info {
	border-color: $light-gray;
	.panel-heading {
		background-color: $light-purple;
		border-color: $light-gray;
		color: black;
	}
}

// Internet sessions div

.library-internet {
	h2, h4, h5 {
		text-align: center;
	}
	.library-internet-chart {
		@media screen and (min-width: 1280px) {
			svg {
				height: 280px;
			}
		}
	}
}

.internet-facts {
	h2, h3, h4 {
		text-align: center;
	}

	h3 {
		margin-top: 0;
		margin-bottom: 15px;
	}

	hr {
		border: 3px solid $maroon;
	}

	div {
		background-color: $light-gray;
		border-color: $dark-purple;
		border-radius: 10px;
		h2 {
			margin-bottom: 10px;
		}
		p {
			padding: 12px;
		}
	}
	
	.tcp-ip {
		
		hr {
			margin-bottom: 2px;
		}
		

	}
}

// Wifi hotspot div
#wifi-intro {
	.panel-heading {
		h4 {
			text-align: center;
		}
	}
}